@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Control</h1>
    <p class="lead">Those within Control ensure that Operatives are assigned Work.</p>
</div>