@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Control</h1>
    <p class="lead">Those within Control ensure that Operatives are assigned Work.</p>
</div>

<div class="py-3 text-center">
    <h2>Next up to Assign</h2>
</div>

<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <h3>Work headline</h3>
        <h5 class="mb-1">10 Sunny Way, Sunnytown, ST1 0ZF</h5>
        <small>work-site-93a2742b-9303-4ae1-8ee1-321d0ca47bd6, site-93a2742b-9303-4ae1-8ee1-321d0ca47bd6</small>
    </div>
</div>

<div class="list-group py-4">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col">
                <h5>Colin Cook</h5>
            </div>
            @*<div class="col">
                One
            </div>
            <div class="col">
                Two
            </div>*@
            <div class="col-1">
                <input type="button" class="btn btn-primary" value="Assign"/>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col">
                <h5>Colin Cook</h5>
            </div>
            @*<div class="col">
                One
            </div>
            <div class="col">
                Two
            </div>*@
            <div class="col-1">
                <input type="button" class="btn btn-primary" value="Assign"/>
            </div>
        </div>
    </div>
</div>