@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Response</h1>
    <p class="lead">Those in Response handle the demand for raising Work on Sites.</p>
</div>