@page
@model OperativesModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Operatives</h1>
    <p class="lead">Operatives are assigned to various works to fix problems.</p>
</div>

<div class="list-group">
    @foreach (var operative in Model.Operatives)
    {
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <h5 class="mb-1">@operative.Forename @operative.Surname</h5>
            <p class="mb-1">Operative</p>
            <small>@operative.OperativeId</small>
        </div>
    }
</div>

<form method="post" class="pt-4">
    <h5>Hire a new Operative</h5>
    <p class="lead">You are able to hire new operatives using this form</p>
    <div class="row">
        <div class="col-md-6">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" asp-for="Forename" placeholder="" value="" required>
        </div>
        <div class="col-md-6">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" asp-for="Surname" placeholder="" value="" required>
        </div>
        <button class="btn btn-primary btn-block" style="margin: 20px;" type="submit">Hire Operative</button>
    </div>
</form>