@page
@namespace ColinCook.RazorPages.Areas.Administration.Pages
@model OperativesModel
@{
}

<ul>
    @foreach (var operative in Model.Operatives)
    {
        <li>
                @operative.OperativeId: @operative.Forename @operative.Surname
        </li>
    }
</ul>
