@page
@model PermissionsModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Permissions</h1>
    <p class="lead">Users on the system can gain membership of roles to access key parts of the system</p>
</div>

<h5>Not implemented yet...</h5>
<p>Maybe you can fork this prototype and add it in ;)</p>




