@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1 class="display-4">Operatives</h1>
    <p class="lead">Operatives are dispatched to complete Work at Sites</p>
</div>